footer {
  background-color: #ffffff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  border-top: 1px solid #e0e0e0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  color: #666;
  margin: 10 px 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #007bff;
}

.footer-section a:hover {
  text-decoration: underline;
}

.website-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.website-links a {
  margin-right: 10px;
  margin-bottom: 10px;
}

.website-links img {
  height: 40px;
  width: 165px;
  border-radius: 5px;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  height: 30px;
  border-radius: 5px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  font-size: 13px;
  color: #666;
}
