.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eb5757;
  padding: 10px;
}

.logo img {
  height: 30px;
}

.navbar {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.navbar a {
  font-size: 18px;
  color: #2b2a2a;
}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin-top: 10px;
  width: 90%;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  .logo {
    margin-right: 10px;
  }

  .logo img {
    height: 35px;
  }

  .navbar {
    gap: 25px;
    margin-top: 0;
    margin-left: 10px;
  }

  .navbar a {
    font-size: 16px;
  }

  .search-box {
    flex: 1;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .main-header {
    padding: 15px 20px;
  }

  .logo {
    margin-right: 40px;
  }

  .logo img {
   height: 40px;
  }

  .search-box {
    flex: 2;
  }

  .navbar {
    flex: 1;
    gap: 40px;
    justify-content: flex-end;
    margin-left: 0;
  }

  .navbar a {
    font-size: 20px;
  }
}
