.big-banner {
  padding: 20px 0;
  background-color: #ffffff;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
  background-color: #ffffffc4;
  gap: 10px;
}

.banner img {
  border-radius: 10px;
}

