.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 5px #00000026;
  border-radius: 8px;
  position: relative;
  border: 1px solid #ddd;
}

.product-card img {
  border-radius: 8px;
}

.product-card h3 {
  font-size: 15px;
  color: #222;
  min-height: 40px;
  margin-top: 10px;
  line-height: 19px;
}

.product-card .price {
  color: #ff0000;
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0;
  line-height: 18px;
}

.product-card .old-price {
  text-decoration: line-through;
  color: #808080;
  font-size: 13px;
  margin-right: 5px;
}

.product-card .discount {
  color: #f76666;
  font-size: 13px;
  font-weight: normal;
}

.product-card .stock {
  display: flex;
  align-items: center;
  gap: 30px;
  background: linear-gradient(to right, #ffd500d7 70%, #ddd 30%);
  color: black;
  font-weight: normal;
  border-radius: 20px;
  white-space: nowrap;
}

.product-card .fire-icon {
  width: 20px;
  height: auto;
}

.product-card .stock-label {
  color: black;
  position: relative;
  z-index: 2;
}

.product-card button {
  background: #e0edfc;
  color: #1e6add;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.product-card button:hover {
  background: #ebedf0;
}

