.promo {
  padding: 20px 0;
}

.promo h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding: 20px 0;
  background: #f5f1f1;
}

.promo-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}

.banner {
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.banner img {
  border-radius: 5px;
  object-fit: cover;
}

.products {
  padding: 20px 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Mặc định Mobile */
  gap: 16px;
}

/* Responsive */
@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
