.auth-box {
  background: #ffffff;
  padding: 100px 80px;
  border-radius: 10px;
  box-shadow: 0 4px 10px #0000001a;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px;
}

.tab-btn {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: none;
  cursor: pointer;
}

.tab-btn.active {
  font-weight: bold;
  color: #ff9800;
  border-bottom: 3px solid #ff9800;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

.form h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.form p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #ff9800;
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #e68900;
}

.text-link {
  margin-top: 10px;
  font-size: 14px;
}

.text-link a {
  color: #ff9800;
  text-decoration: none;
}

.text-link a:hover {
  text-decoration: underline;
}
